.cards-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: -4vw;
    /* height: 100%; */
    /* background-color: #ffad66; */

     
    /* position: absolute; */
    /* justify-content: space-between; */
    /* align-items: center; */
}


.card-front
{
    background-color:#010E1F;
   
}

.card-back
{
    background-color: white ;
    color: black;
}
.card-back:hover
{
    background-color: white ;
}

