.card {
   
  /* Sizing */
  height: 80%;
  width: 80%;
  
  
  transform-style: preserve-3d;

  /* Content Alignment */
  position: relative;

  /* Styling */
  border-radius: 5px;
  border: 3px solid white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.8);

  user-select: none;
  cursor: pointer;

  margin: 0.4rem;
}

.card-front,
.card-back {
  /* Sizing */
  height: 100%;
  width: 100%;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  /* Alignment */
  position: absolute;

  /* Content Alignment */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  

  /* Content Styling */
  font-family: Montserrat;
  font-weight: 800;
  font-size: 1.4rem;
  color: white;
}

.card-front {
  background-color: #73d0ff;

}

.card-back {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #ffad66;
  transform: rotateY(180deg);
}

.card-back > .image-name{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

